@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style= "position:relative; left: 100px; width: 483px; height: 68px; color: #141414; font-size: 50px; font-weight: 400; word-wrap: break-word">
        Como Funciona </div>

    <div style="position:relative; top: 50px; left: 100px; width: 457px; height: 330px; text-align: justify; color: #141414; font-size: 16px; font-weight: 600; word-wrap: break-word">
        Lorem ipsum dolor sit amet. Ex cupiditate harum id commodi blanditiis cum quas accusamus ut iusto eligendi et veniam aliquid et optio distinctio eos quam ducimus. Ea dolorem doloremque eum galisum placeat aut voluptatem suscipit!<br /><br />Eum suscipit galisum et omnis voluptatem in numquam rerum ut dolor voluptatem et aliquid laudantium! Est modi galisum non aliquam corrupti non ipsa ducimus At cupiditate eveniet vel eaque ipsam et dignissimos numquam ut doloribus.
        </div>

    <img style="position:relative; left: 250px; bottom: 350px; width: 457px; height: 330px" src="https://i.postimg.cc/zfxFkZfd/mapa.png" />

</div>

       