@model tabuleria_luderia.Models.Jogo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Jogo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeDoJogo" class="control-label"></label>
                <input asp-for="NomeDoJogo" class="form-control" />
                <span asp-validation-for="NomeDoJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinJogadores" class="control-label"></label>
                <input asp-for="MinJogadores" class="form-control" />
                <span asp-validation-for="MinJogadores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxJogadores" class="control-label"></label>
                <input asp-for="MaxJogadores" class="form-control" />
                <span asp-validation-for="MaxJogadores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdadeMin" class="control-label"></label>
                <input asp-for="IdadeMin" class="form-control" />
                <span asp-validation-for="IdadeMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mecanicas" class="control-label"></label>
                <input asp-for="Mecanicas" class="form-control" />
                <span asp-validation-for="Mecanicas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temas" class="control-label"></label>
                <input asp-for="Temas" class="form-control" />
                <span asp-validation-for="Temas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LojaId" class="control-label"></label>
                <select asp-for="LojaId" class="form-control" asp-items="ViewBag.LojaId"></select>
                <span asp-validation-for="LojaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="Index">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
